.table {
    font-size: 1.5em;
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
    /* Rounded edges */
}

.table th,
.table td {
    padding: 4px;
    /* Smaller padding */
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.table th {
    background-color: #282c34;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f5f5f5;
}

.table th:first-child {
    border-top-left-radius: 10px;
}

.table th:last-child {
    border-top-right-radius: 10px;
}

.table td:first-child {
    border-bottom-left-radius: 10px;
}

.table td:last-child {
    border-bottom-right-radius: 10px;
}

/* table-div in için h2 başlığı ve table ları yan yana getirmek için */
.group-group {
    display: flex;
    flex-direction: column;
}

.stage-group {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*set as center*/
    justify-content: center;
}

.tournament-group {
    margin: 0;
    margin-bottom: 20px;
}

.table-div {
    margin-right: 20px;
    margin-bottom: 20px;
    /* Add a margin to create space between table-divs */
    flex: 1;
    flex-basis: 30%;
    /* Set a basis width for each table-div */
}

@media (max-width: 900px) {
    .table-div {
        flex-basis: 100%;
        /* Make table-div full width on smaller screens */
        margin-right: 0;
        /* Remove right margin on smaller screens */
    }
}

.groupstanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the tournament groups horizontally */
    text-align: center;
    /* Center the text within tournament groups */
}