.matches {
    text-align: center;
    border-radius: 10px;
}
.match_header {
    background-color: #282C34;
    color: white;
    text-align: center;
    margin: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 45px;
}

.match_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.match_statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.match_goals {
    padding: 0;
    margin: 2px;
    flex: 1;
}

.team_score {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.team_names {
    font-size: xx-large;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.match_time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

.match_time_item {
    padding: 0;
    margin: 2px;
}

.center_div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}




.match-scoreboard {
    font-family: 'Arial', sans-serif;
    max-width: 1000px;
    min-height: 650px;
    margin: 20px auto;
    padding: 50px;
    border: 1px solid #ddd;

    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teams-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .team-name {
    flex: 1;
    text-align: center;
    align-self: flex-start;
  }

  .team h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .goals {
    list-style: none;
    padding-left: 100px;
    padding-top: 20px;
    margin: 0;
    position: absolute;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .goals li {
    font-size: 16px;
  }

  .vs {
    font-size: 26px;
    font-weight: bold;
    margin: 10 20px;
    padding-top: 15px;
    align-self: center;
  }

  .match-info {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }

  /* Form Styling */
  .form {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Sit on top */
    text-align: left;
  }

  .form-content {
    background-color: #fefefe;;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
  }

  label {
    margin-bottom: 5px;
    text-align: left;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .radio-label {
    display: inline-block;
    margin-left: 5px;
    font-weight: lighter;
  }

  .input-text-select {
    text-align: left;
    width: 95%;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #574f4f;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    width: auto;
    margin-left: 10px;
  }

  .insert-button {
    background-color: #144207;
    color: white;
    font-size: medium;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    bottom: 40px;
    right: 20px;
    position: fixed;
  }

  select {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #574f4f;
    margin-bottom: 10px;
  }