.matches {
    text-align: center;
}
.match_header {
    background-color: cadetblue;
    color: black;
    text-align: center;
    margin: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 45px;
}

.match_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.match_statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.match_goals {
    padding: 0;
    margin: 2px;
    flex: 1;
}

.team_score {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.team_names {
    font-size: xx-large;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.match_time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

.match_time_item {
    padding: 0;
    margin: 2px;
}

.center_div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}




.match-scoreboard {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;

    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .teams {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  
  .team {
    flex: 1;
    text-align: center;
  }
  
  .team h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .goals {
    list-style: none;
    padding-top: 400px;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .goals li {
    font-size: 16px;
  }
  
  .vs {
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
    align-self: center; 
  }
  
  .match-info {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Form Styling */
  .form {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* Sit on top */
  }

  .form-content {
    background-color: #fefefe;;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  input {
    text-align: left;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }

  .insert-button {
    background-color: #144207;
    color: white;
    font-size: medium;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    bottom: 40px;
    right: 20px;
    position: fixed;
  }