.search-bar-container {
    padding-top: 3vh;
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.mycontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    position: relative;
}

.pplayers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: space-around;
    align-items: stretch;
    margin: 10px;
}

.pplayer {
    transition: all 0.2s ease-in-out;
}

.pplayer:hover {
    transform: scale(1.05);
}

.pplayer-details {
    max-width: 750px;
    margin: 1px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #111;
    border-radius: 8px;
    margin-top: 10px;
}

.pplayer-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.filter-icon {
    cursor: pointer;
    color: royalblue;
    padding-left: 10;
    padding-right: 10;
}

.sort-icon {
    cursor: pointer;
    color: royalblue;
    padding-left: 10;
    padding-right: 10;
}


.filter-container {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.sort-container {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-top: 21px;
    padding: 5px;
}

.filter-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.filter-container label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

.filter-container input {
    margin-right: 5px;
}

.filter-container input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.2);
    padding: 5px;
}

.filter-container label input {
    margin-right: 5px;
}

.filter-container div {
    margin-bottom: 15px;
}

.filter-container .options {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.filter-icon-container {
    position: relative;
}

.sort-container div {
    margin-bottom: 15px;
}

.sort-container .options {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.sort-icon-container {
    position: relative;
}


.sort-container h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sort-container label {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 8px;
    font-weight: bold;
}

.sort-container input {
    margin-top: 5px;
}

.sort-container input[type="radio"] {
    margin-right: 5px;
    transform: scale(1.2);
    padding: 5px;
    margin-bottom: 10px;
}

.sort-container label input {
    margin-right: 5px;
}

.sort-container div {
    margin-bottom: 15px;
}

.sort-container .options {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.sort-icon-container {
    position: relative;
}
