.results-list {
    position: absolute;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 3rem;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
