.squads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.squad-group {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.squad {
    width: calc(25% - 20px);
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 5px 3px #606468;
    background: azure;
}

.squad-details {
    padding: 10px;
    text-align: left;
}

h2 {
    margin-bottom: 10px;
    width: 100%;
}